/*#navbar{
	background-color: white;
	padding-right: 50px;
	float: right;
}*/
.navbar-brand{
	background-color: #4aaaa5;
	height: 90px;
	width: 250px;
	text-align: center;
	color: white;
}
.index-photo{
	width: 250px;
	height: 250px;
	float: left;
	margin-right: 25px;
	margin-bottom: 25px;
}
.icons{
	height: 62px;
	width: 62px;
}
.panel-body{
	text-align: center;
}

#footer .panel-body{
	background-color: #666;
	height: 90px;
	padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #4aaaa5;
}

#main-container{
	background-image: url("../images/concrete_seamless.png");
}
h1{
	font-family: Georgia, Times, "Times New Roman", serif;
    color: #4aaaa5;
    padding-bottom: 20px;
    font-size: 30px;
    border-bottom: 3px solid #ddd;
}
form{
	margin-bottom: 30px;
}
nav{
	height: 100px;
	margin-bottom: o;
}
/*.container{
	background-color: white;
}*/
h3{
	background-color: #4aaaa5;
	position: relative;
      float: left;
      width: 274px;
      margin: 20px 0 25px;
      overflow: auto;
}